section.resume-section {
  border-bottom: 1px solid $gray-300;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-content {}
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.circle-image {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0;
  
  img {
    width: 110px;
    height: 110px;
    vertical-align: top;
    border-radius: 50%;
    margin: 5px;
  }
  
  canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
}
